Makefile
autom4te.cache/
bin/cobjrun
bin/cobjrun.o
cobj/parser.output
cobj/.deps/
cobj/Makefile
cobj/cobj
cobj/*.o
config.h
config.log
config.status
config/Makefile
copy/Makefile
defaults.h
lib/.deps/
lib/Makefile
lib/*.o
lib/*.a
libcob/.deps/
libcob/.libs/
libcob/Makefile
libcob/*.la
libcob/*.lo
libcob/*.o
libcobj/jp
libcobj/build
libcobj/libcobj.jar
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
po/Makefile
po/Makefile.in
po/POTFILES
po/ja.po~
po/*.pot
po/remove-potcdate.sed
stamp-h1
test-driver
tests/Makefile
tests/atconfig
tests/atlocal
tests/cobol85/Makefile
tests/command-line-options
tests/data-rep
tests/i18n_sjis
tests/i18n_utf8
tests/jp-compat
tests/misc
tests/run
tests/*.log
tests/syntax
tests/cobol85/*/*.class
tests/cobol85/*/*.java
tests/cobol85/*/*.out
tests/cobol85/*/*.log
tests/cobol85/*/tmp.cbl
tests/cobol85/*/report.txt
tests/cobol85/*/XXXXX*
tests/cobol85/summary.log
texi/Makefile
bin/.deps/
bin/cob-config
bin/cobcrun
bin/cobcrun-cobcrun.o
configure~
