name: build opensource COBOL 4J

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.os }}
    steps: 
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Install dependencies on Ubuntu 22.04
        if: inputs.os == 'ubuntu:22.04'
        run: |
          apt update -y
          apt install -y build-essential bison flex gettext texinfo automake autoconf

      - name: Install dependencies on AlmaLinux 9
        if: inputs.os == 'almalinux:9'
        run: |
          dnf -y update
          dnf install -y gcc make bison flex automake autoconf diffutils gettext

      - name: Checkout opensource COBOL 4J
        uses: actions/checkout@v3
      
      - name: Install opensource COBOL 4J
        run: |
          ./configure --prefix=/usr/
          make
          echo ARTIFACT_NAME=${{ inputs.os }} | sed 's/:/-/g' >> $GITHUB_ENV

      - name: Create an artifact file
        run: |
         cd ../
         tar zcf opensourcecobol4j.tar.gz opensourcecobol4j
         mv opensourcecobol4j.tar.gz opensourcecobol4j
      
      - name: Upload an artifact
        uses: actions/upload-artifact@v3
        with:
          name: opensourcecobol4j-${{ env.ARTIFACT_NAME }}
          path: opensourcecobol4j.tar.gz